<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <p>
    <%= button_to 'Generate Shopping list' %>
  </p>

  <p>
    <%= button_to 'Add ingredients' %>
  </p>

  <% recipe.user.foods.each do |recipe| %>
      <p> food name: <%= recipe.name %> </p>
      <p> quantty: <%= recipe.quantity %> </p>
      <p> value: <%= recipe.price %> </p>
    <% end %>

</div>
