<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div>
      <div class='d-flex'>
      <h1>
      <%= link_to recipe.name, recipe %>
      </h1>
      <p class= 'ms-auto'>
      <%= recipe.description %>
      </p>
      </div>

      <%= link_to "Remove", recipe_path(recipe),  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
