<div id="<%= dom_id food %>">
 
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Food</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td><%= link_to "Delete" %></td>
    </tr>
  </tbody>
</table>
</div>